---
import '../../app/globals.css'
import Layout from '../layouts/Layout.astro';
import Logina from '../components/react/Login';
---

<Layout title="Welcome to Astro.">
	<main>
   <Logina client:load />
	</main>
</Layout>

<style>
	
</style>
