---
import '../../app/globals.css'
import Layout from '../layouts/Layout.astro';
import SignUpp from '../components/react/SignUp';
---

<Layout title="Welcome to Astro.">
	<main>
   <SignUpp client:load />
	</main>
</Layout>

<style>
	
</style>
